.nav-btn{
    background-color: brown;
    color: white;
}

.nav-btn:hover{
    background-color: yellow;
    color: black;
}

.slider-img{
    height: 80vh;
}

.products img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.cat-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cat-img p{
    font-size: 12px;
    margin: 10px
}